{% extends "base.html" %}
{% block content %}
    Page 1
    <title>All About Git</title>
    <h1>Git</h1>
    <p>Git is the most popular version control system in the world which makes it easier to track changes in a file.
        It is a great tool to coordinate with other developers and save checkpoints on what is changed over time.
        You can download Git by it’s command-line interface. Github is the website that is used for hosting the projects that use git.</p>
    <h1>Branches</h1>
    <p>Branches that are being used in git are similar to how File > Save as.. In a text editor.
        The branch name is for reference of the current state of your project.
        One branch can be for working on a single feature and another branch can be for applying another feature</p>
    <h1>Merge</h1>
    <p> The concept of merge lets you take the independent lines created by git branches and integrate them into a
        single branch (most likely the default branch). If someone makes changes to the master branch on git, you can
        do the merge command to update your local master branch. Merge conflicts occur when multiple people are making
        changes to the file on the same lines at the same time.</p>

{% endblock %}