{% extends "base.html" %}
{% block content %}
    Page 2
    <title>All About Docker</title>
    <h1>Docker</h1>
    <p>Docker is an open source containerization platform that lets developers package applications into containers.
        It helps build, run, and manage containers on servers and the cloud. It allows developers to take advantage of
        Docker’s methodologies to reduce the delay between writing code and running it in production. </p>
    <h2>Containers</h2>
    <p>A docker container is a virtualized environment that isolates an application and its dependencies into a self-contained unit that can run anywhere.
        It removes the need of utilizing physical hardware and wasting extra computing resources.
        This concept of containerization is more efficient when it comes to energy consumption and cost effectiveness.</p>
{% endblock %}