{% extends "base.html" %}
{% block content %}
    Page 2
    <title>All About Docker</title>
    <h1>Docker</h1>
    <p>Docker is an open source containerization platform that lets developers package applications into containers.
        It helps build, run, and manage containers on servers and the cloud. It allows developers to take advantage of
        Docker’s methodologies to reduce the delay between writing code and running it in production. </p>
    <h1>Containers</h1>
    <p>A docker container is a virtualized environment that isolates an application and its dependencies into a self-contained unit that can run anywhere.
        It removes the need of utilizing physical hardware and wasting extra computing resources.
        This concept of containerization is more efficient when it comes to energy consumption and cost effectiveness.</p>
    <h1>Images</h1>
    <p>Docker images are immutable files that contain source code, libraries, dependencies, tools and other files in order for the application to run.
        They represent an application in its virtual environment during specific points in time.
        Images are like templates as base to build a container, which basically runs the image.</p>
    <a href="https://hub.docker.com/repository/docker/acmp17/project1-amp">Visit DockerHub Project Repository</a>
    <h1>Docker Commands to know</h1>
    <ul>
        <li>Docker login <- login to the docker hub repository</li>
        <li>Docker images <- lists all locally stored docker images </li>
        <li>Docker build <- builds Docker images from a Dockerfile and a given path or url. </li>
        <li>Docker run <- creates a container from a given image and starts the container using a given command</li>
        <li>Docker ps <- used to list the running containers </li>
        <li>Docker stop <- stops running containers</li>
        <li>Docker kill <- stops execution immediately </li>
        <li>Docker rm <- used to delete a stopped container</li>
        <li>Docker commit <- creates a new image of edited container in the local </li>
        <li>Docker push <- used to push an image to the docker hub repository</li>
        <li>Docker pull <- pull images from docker hub repository</li>
    </ul>
{% endblock %}
