{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOLID</title>
</head>
<body>
    <h1>SOLID</h1>
    <div class="text">
        <p>class Calculator:<br>
            """ This is the default result property"""<br>
    result = 0<br>

    def add(self, value_1):
        """ This is the add method"""
        self.result = self.result + value_1
        return self.result

    def subtract(self, value_1):
        """ This is the subtract method"""
        self.result = self.result - value_1
        return self.result

    def get_result(self):
        """ This is the get result method"""
        return self.result</p>
        <h2>Single-Responsibility Principle</h2>
        <p>being able to split the operations of the code into subparts and making a single function class, main.
        The main class will call all the other functions one-by-one during a step by step process.</p>
        <h2>The Open-Closed Principle</h2>
        <p>Creating new method functions should add an extension to the main class</p>
    </div>
</body>
</html>