{% extends "base.html" %}
{% block content %}
    Page 1
    <title>All About Git</title>
    <h1>Git</h1>
    <p>Git is the most popular version control system in the world which makes it easier to track changes in a file.
        It is a great tool to coordinate with other developers and save checkpoints on what is changed over time.
        You can download Git by it’s command-line interface. Github is the website that is used for hosting the projects that use git.</p>
    <h1></h1>

{% endblock %}